.row
  .col-md-3
    %h1 Categories List
  .col-md-9
    = render 'layouts/header'

%table.table.table-striped
  %thead
    %tr
      %th
        Category Name
        %span.badge.pull-right= @categories.map{|c| c.posts.length}.inject(:+)
      %th Actions

  %tbody
    - @categories.each do |c|
      %tr
        %td
          = c.name
          %span.badge.pull-right= c.posts.length.to_s
        %td  
          .btn-group.btn-group-sm
            = link_to category_path(c), class: 'btn btn-info' do
              Show
              %span.glyphicon.glyphicon-list-alt
            = link_to edit_category_path(c), class: 'btn btn-warning' do
              Edit
              %span.glyphicon.glyphicon-pencil
            = link_to category_path(c), class: 'btn btn-danger',
                      data: {method: :delete, confirm: 'Are you sure?'} do
              Destroy
              %span.glyphicon.glyphicon-trash

.btn-group
  = link_to new_category_path, class: 'btn btn-success' do
    %span.glyphicon.glyphicon-plus
    New Category
  = link_to new_post_path, class: 'btn btn-success' do
    %span.glyphicon.glyphicon-plus
    New Post
