%h1= "Listing Words on #{@category.name}"

Move the selected words into the category
= select_tag("category", options_from_collection_for_select(@categories, "id", "name"))
%button{:onclick => "changeCat()"} go move!

%button{:onclick => "sortableToggle()"} sortable on/off
%button#applySort{:onclick => "applySort()"} go sort!

%table
  %thead
    %tr
      %th Word
      %th Sentence
      %th{:colspan => "1"}
  %tbody.words
    - @posts.each do |post|
      %tr{:id => "post_#{post.id}"}
        %td.word{:pic_data => post.picture, :post_id => post.id}= post.word
        %td.sentence= post.sentence
        %td.misc
          = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Back', categories_path
