%h1= "Listing Words on #{@category.name}"

%ul.list-inline.fixed
  %li
    %input#pictureToggle{type: 'checkbox', data: {toggle: 'toggle',
                                                      on: 'Show Picture',
                                                     off: 'Hide Picture',
                                                    size: 'small'}}
  %li    
    %input#editableToggle{type: 'checkbox', data: {toggle: 'toggle',
                                                    on: 'Enable to Edit',
                                                    off: 'Unable to Edit',
                                                   size: 'small'}}
    %button#applyEdit.btn.btn-warning.btn-sm
      %span Apply Edit
      %span.glyphicon.glyphicon-pencil
     
  %li
    %button#deletePosts.btn.btn-danger.btn-sm
      Delete Selected Entries
      %span.glyphicon.glyphicon-trash
     
  %li
    .btn-group
      %a.btn.btn-primary.btn-sm.dropdown-toggle{data: {toggle: 'dropdown'}}
        Move Selected Entries
        %span.glyphicon.glyphicon-list
      %ul.dropdown-menu.scrollable-menu
        %li.dropdown-header Choose a Destination
        - @categories.each do |c|
          %li
            %a.changeCat{cat_id: c.id}= c.name
  %li
    %button#applySort.btn.btn-warning.btn-sm
      Apply Sort
      %span.glyphicon.glyphicon-sort
     



.row
  .contents.col-md-8.col-xs-8
    %table.table.table-striped
      %thead
        %tr
          %th Control
          %th Word
          %th Sentence
          %th Action
      %tbody.words
        - @posts.each do |p|
          %tr.tr{:id => "post_#{p.id}", :post_id => p.id}
            %td.col-md-1
              %div.col-md-6.btn.btn-sm.btn-default.glyphicon.glyphicon-th.select-hand
              %div.col-md-6.btn.btn-sm.btn-default.glyphicon.glyphicon-move.sort-hand
            %td.col-md-2.word
              %a{data: {toggle: 'tooltip', placement: 'right'}, title: p.meaning}
                %span= p.word
              %input.form-control{value: p.word}
            %td.col-md-8.sentence{:post_id => p.id}
              %span.small= p.sentence
              %input.form-control{value: p.sentence}
            %td.col-md-1.misc
              .btn-group.btn-group-sm
                = link_to edit_post_path(p.id), class: 'btn btn-warning' do
                  Edit
                  %span.glyphicon.glyphicon-pencil
   
   
    = link_to categories_path, class: 'btn btn-success' do
      %span.glyphicon.glyphicon-arrow-left
      Back to Categories

  .fixed-wrap.col-md-4.col-xs-4
    .images
      - @posts.each do |p|
        %a.image-popup{href: p.picture.url}
          = image_tag p.picture.url, pic_id: p.id
