%h1= "Listing Words on #{@category.name}"

.buttons
  %label{for: 'pictureToggle'} Show picture
  %input#pictureToggle{type: 'checkbox', data: {toggle: 'toggle'}}
  %br
  %label{for: 'editableToggle'} Edit data
  %input#editableToggle{type: 'checkbox', data: {toggle: 'toggle'}}
  %button#applyEdit.btn.btn-warning apply edit!
  %form.form-inline{role: 'form'}
    .form-group
      = label_tag 'category', 'Select a destination'
      = select_tag 'category', options_from_collection_for_select(@categories, 'id', 'name'),
                    class: 'form-control'
  %button#changeCat.btn.btn-warning move entries!
  %button#deletePosts.btn.btn-danger delete entries!
  %button#applySort.btn.btn-warning apply sort!


.contents
  %table.table.table-striped
    %thead
      %tr
        %th Control
        %th Word
        %th Sentence
        %th Action
    %tbody.words
      - @posts.each do |p|
        %tr.tr{:id => "post_#{p.id}", :post_id => p.id}
          %td.col-md-1.cont
            %div.col-md-6.btn.btn-default.glyphicon.glyphicon-th.select-hand
            %div.col-md-6.btn.btn-default.glyphicon.glyphicon-move.sort-hand
          %td.col-md-2.word
            %span= p.word
            %input{value: p.word}
            = image_tag p.picture.url
          %td.col-md-8.sentence{:post_id => p.id}
            %span.small= p.sentence
            %input{value: p.sentence}
          %td.col-md-1.misc
            .btn-group.btn-group-sm
              = link_to edit_post_path(p.id), class: 'btn btn-warning' do
                Edit
                %span.glyphicon.glyphicon-pencil


= link_to categories_path, class: 'btn btn-success' do
  %span.glyphicon.glyphicon-arrow-left
  Back to Categories
