span Category: 
  strong
    em {{ vm.category.name }} 

a.btn.btn-default(ui-sref="categories")    Back to categories
a.btn.btn-default(ng-click="vm.newItem()"
                  ng-class="{'btn-warning': vm.formType[0] == 'New'}") New item

.item-form-div.panel.panel-primary(ng-cloak=true, ng-if="vm.formType")
  .panel-heading {{ vm.formType[0] }} Item
  .panel-body(
    item-form=true, form="vm.itemForm"
    label-submit="vm.formType[1]" , label-cancel="'Cancel'"
    on-submit="vm.submit()" , on-cancel="vm.formType=false", loading="vm.loading")

h4 Listing items

.row
  .col-sm-9
    #items-list
      table.table.table-striped
        thead
          tr
            th Word and Meaning
            th Sentence
            th Actions
        tbody
          tr(ng-repeat="item in vm.items")
            td.word-meaning
              .h4       {{ item.word }}
              .small    {{ item.meaning }}
            td.sentence {{ item.sentence }}
            td.actions
              .btn-group
                a.btn.btn-default(
                  ng-click="vm.editItem(item)"
                  ng-class="{'btn-warning': (item === vm.formType[2])}")
                  span Edit
                  span.glyphicon.glyphicon-pencil
                a.btn.btn-default(ng-click="vm.deleteItem(item)")
                  span Delete
                  span.glyphicon.glyphicon-trash
  .col-sm-3
    #images-list
      a.magnific-popup-img(ng-repeat="item in vm.items"
                           ng-href="{{ item.picture }}")
        img.img-thumbnail(ng-src="{{ item.picture }}")
        .fake(ng-init="vm.initMagnificPopup()")
