form(name="form", ng-submit="submit()", novalidate=true)
  .form-group
    label User name (at least 5 characters)
    input.form-control(ng-model="userForm.username", minlength="5", maxlength="20"
                       required=true)

  .form-group
    label Email address
    input.form-control(ng-model="userForm.email", type="email", required=true)

  .form-group
    label Password (at least 8 characters)
    input.form-control(ng-model="userForm.password", type="password"
                       required=true, minlength="8")
   
  .form-group
    label Password Confirmation
    input.form-control(ng-model="userForm.password_confirmation", type="password"
                       required=true, minlength="8")

  .form-actions
    button.btn.btn-primary(type="submit"
                           ng-disabled="form.$invalid || loading || userForm.password != userForm.password_confirmation"
                          ) {{ labelSubmit }}
    a.btn.btn-link(ng-click="cancel()") {{ labelCancel }}
    i.fa.fa-spinner.fa-spin(ng-if="loading")
