= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message



  %table.table
    %tbody
      %tr.form-group
        %td
          = f.label :word
        %td
          %input.form-control{id: 'post_word', name: 'post[word]', value: @post.word}
          -# = f.text_area :word
      %tr.form-group
        %td
          = f.label :sentence
        %td
          %input.form-control{id: 'post_sentence', name: 'post[sentence]', value: @post.sentence}
          -# = f.text_area :sentence
      %tr.form-group
        %td
          = label_tag 'cat_id', 'Category'
        %td
          %select{id: 'cat_id', name: 'cat_id'} 
            - belong = (@category ? @category.id : nil)
            - @categories.each do |c|
              %option{value: c.id, selected: (c.id == belong ? 'selected' : nil)}= c.name
      %tr.form-group
        %td
          = f.label :picture
        %td
          = f.file_field :picture
          .post_show_pic
            = (@post.picture.url ? (image_tag @post.picture.url) : nil)

  %button.btn.btn-warning
    %span.glyphicon.glyphicon-ok
    Save
