= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message


  %table.table
    %tbody
      %tr.form-group
        %td
          = f.label :word
        %td
          = f.text_field :word, class: 'form-control'
      %tr.form-group
        %td
          = f.label :meaning
        %td
          = f.text_field :meaning, class: 'form-control'
      %tr.form-group
        %td
          = f.label :sentence
        %td
          = f.text_field :sentence, class: 'form-control'
      %tr.form-group
        %td
          = label_tag 'cat_id', 'Category'
        %td
          = select_tag 'cat_id',
                       options_from_collection_for_select(@categories, 'id', 'name', (@category ? @category.id : nil).to_s),
                       class: 'form-control'
      %tr.form-group
        %td
          = f.label :picture
        %td
          = f.file_field :picture
          %br
          .post_show_pic
            = (@post.picture.url ? (image_tag @post.picture.url) : nil)

  = f.button class: 'btn btn-warning' do
    %span.glyphicon.glyphicon-ok
    Save
