%p#notice= notice

%strong Word:
= @post.word

%br

%strong Sentence:
= @post.sentence

%br

%strong Category:
= @category.name

%br

.post_show_pic
  %strong Picture:
  %br
  = image_tag @post.picture.url

= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', category_path(@category)
